<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/keypress.js"></script>
  </head>

  <body>
    <h1>Hats</h1>
    <p id="instructions">Welcome to Earth, now get the fuck out...</p>
    <p id="countdown"></p>

    <button id="startbutton" type="button">Start "Measuring"</button>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/javascripts/hatSize.js"></script>
    <script src="/javascripts/mhacks.js"></script>
  </body>

</html>
